<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nur_ikhsan.marketplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Util.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/tokped"
        android:label="@string/projectsaya"
        android:networkSecurityConfig="@xml/network_scurity"
        android:roundIcon="@mipmap/tokped"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketPlace"
        android:usesCleartextTraffic="true">

        <activity android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.Navigation.NavigationActivity"
            android:exported="true"
            android:label="@string/NavigationActivity">
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>


        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.updateProfile.UpdateProfile" />
        <activity android:name=".ui.toko.BukaTokoActivity" />
        <activity android:name=".ui.toko.TokoSaya" />
        <activity android:name=".ui.BaruActivity" />
        <activity android:name=".ui.alamat.ListAlamatTokoActivity" />
        <activity android:name=".ui.alamat.TambahAlamatTokoActivity" />
    </application>

</manifest>